@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("./fonts/Poppins-Regular.ttf") format("truetype");
}

body {
  margin: 0px;
  font-family: 'Poppins';
  color: white;
}

h1, h2, h3, h4 {
  margin-block: 0em;
}

a {
  text-decoration: none;
  color: #086868;
  font-weight: bold;
}

.App {
    text-align: center;
    background-color: #17312F;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.header, .footer, .content {
  position: absolute;
  width: 70%
}

.header {
  height: 100px;
  top: 0;
  display: flex;
}

.footer {
  height: 50px;
  bottom: 0;
}

.footer p {
  font-size: small;
  margin-bottom: 5px;
}

.content {
  top: 100px;
  bottom: 50px;
  display: flex;
}