.friend {
    height: 8vh;
    border-radius: 20px;
    display: flex;
}

.friend:hover {
    background-color: #054848;
}

.friend > .image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.friend > .image > .pic {
    background-color: #086868;
    height: 5vh;
    width: 5vh;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.friend > .image > .pic p {
    font-size: 3vh;
}

.friend > .details {
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.friend > .details h2 {
    font-size: 2vh;
}

.friend > .details h3 {
    font-size: 1.5vh;
    color: grey;
}

.friend > .actions {
    flex: 1;
    display: flex;
    align-items: center;
}

.friend > .actions p {
    font-size: 2vh;
}

.friend > .actions p:hover {
    cursor: pointer;
    font-family: 'Poppins-Bold';
}